body {
  background-color: rgb(182, 169, 169);
  font-family: monospace;
}


.container {
  width: 500px;
  height: auto;
  margin: auto;
  border: black solid 2px;
  background: black;
  border-radius: 18px;
}

button {
  width: 100px;
  height: 50px;
  font-size: 25px;
  font-family: monospace;
  border-radius: 18px;
}

.clear {
  display: flex;
}

.big-button {
  width: 500px;
  height: 50px;
  margin: 10px;
  border-radius: 18px;
}

.calc-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
  grid-auto-columns: 10px;
  margin: 10px;
}

#screen {
  font-size: 30px;
  background-color:rgb(97, 90, 90);
  margin: 10px;
  color: white;
  height: 80px;
  border-radius: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5px;
  flex-direction: column;
}

#displayAll {
  font-size: 20px;
}